* {
  padding: 0px;
  margin: 0px;
  font-family: Poppins;
  box-sizing: border-box;
}

body {
  background-color: #fbfdc0a6;
  background-image: linear-gradient(#6e386e2d 1px, transparent 1px),
    linear-gradient(90deg, #6e386e2d 1px, transparent 1px);
  background-size: 30px 30px; /* Adjust grid size */
  margin: 0;
}

#main_heading {
  text-align: center;
  font-size: 5vmax;
  margin-top: 10vh;
  margin-bottom: 20px;
  color: #353535;
  text-shadow: 1px 1px 2px rgb(129, 129, 129);
}

#outer_div {
  width: 80%;
  max-width: 600px;
  background-color: #6e386e;
  border: 1px solid black;
  margin: auto;
  border-radius: 10px;
  box-shadow: 3px 3px 4px black;
}

#upper_div {
  margin-top: 30px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

#plan_to_do {
  width: 70%;
  max-width: 500px;
  height: 50px;
  font-size: 16px;
  border-radius: 10px;
  padding: 0px 5px;
  margin-bottom: 10px;
}

button {
  width: 100px;
  height: 52px;
  font-size: 16px;
  background-color: #ca4b7c;
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  transition-duration: 0.7s;
  border: 0px;
}

button:hover {
  background-color: #a1335d;
  cursor: pointer;
}

#lower_div {
  padding: 50px 5px;
  transition-duration: 0.7s;
}

span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ca4b7c;
  padding: 12px;
  margin: 15px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
#lower_div i {
  transition-duration: 0.7s;
}
#lower_div i:hover {
  color: #d3d3d3;
}
#this {
  display: none;
}

.done {
  background-color: #4e182d;
  transition: 0.8s;
}

/* Media Queries for smaller screens */
@media (max-width: 768px) {
  #outer_div {
    width: 90%;
  }

  #upper_div {
    flex-direction: column;
    align-items: center;
  }

  #plan_to_do {
    width: 90%;
  }

  button {
    width: 30%;
  }
}
